@import './fonts.css';

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 22px;
}

p {
  font-family: 'Lato-Regular';
}

.img-bar {
  max-width: 100%;
  margin-top: 7em;
  display: grid;
  grid-template-areas:
    "pizza veggie"
    "burger veggie";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: .5em;
}

.img-bar img {
  max-width: 100%;
}

.pizza-assembly {
  grid-area: pizza;
}

.order-up {
  grid-area: burger;
}

.veggie-tray {
  width: 91%;
  grid-area: veggie;
}

.front-door,
.cross-illus {
  display: none;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-us div {
  text-align: center;
  padding: 0 10%;
}

.about-us p {
  text-align: left;
}

.about-us h1 {
  color: #97c57a;
  font-size: 36px;
  opacity: 0.6;
}

.about-us img {
  width: 20%;
}

.alumni {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../img/About Us/dining-booths.jpg");
  height: 30em;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
}

.alumni-recognition {
  display: flex;
  margin-top: 1em;
  padding: 0 10%;
}

.alumni-recognition img {
  width: 5rem;
  height: 5rem;
  margin-right: 10px;
}

.carousel-quotes {
  display: flex;
  justify-content: space-evenly;
  background: rgba(19, 156, 147, 0.6);
  background-blend-mode: overlay;
  margin-top: 2em;
}

.carousel-quotes span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-support {
  text-align: left;
  padding: 0 10%;
}

.education-support h2 {
  color: #139c93;
}

.heart-cookies {
  max-width: 100%;
  object-fit: contain;
}

label {
  font-family: 'Lato-Regular';
}

input,
textarea {
  font-family: 'Lato-Regular';
  border: #ffd16b 2px solid;
  width: 95%;
  margin-bottom: 1.7em;
}

input {
  height: 2em;
}

form button {
  margin-left: 7%;
  color: #585A5E;;
  font-size: 18px;
  font-family: 'Lato-Bold';
  letter-spacing: 3.36px;
  width: 80%;
  text-transform: uppercase;
  border: 2px solid #979797 ;
  cursor: pointer;
}