p, label{
    font-family: 'Lato-Regular';
    font-size: 19px;
    color: #585a5e;
    
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #e4a388;
    font-family: 'Montserrat-Bold';
}

img {
    max-width: 100%;
}

button {
    text-transform: uppercase;
    color: #585A5E;;
    font-size: 16px;
    font-family: 'Lato-Bold';
    letter-spacing: 3.36px;
    width: 80%;
}

svg {
    display: none;
}

.hero-banner {
    margin-top: 6em;
    max-width: 100%;
}

.hero-statement {
    text-align: center;
}

.hero-statement h2 {
    text-align: center;
    font-size: 26px;
}

.hero-statement article {
    padding: 0 10%;
    text-align: left;
    margin-bottom: 3em;
    margin-top: 2em;
}

.ampersand {
    font-size: 30px;
    color: #97c57a;
    font-family: 'Montserrat-Semi-Bold';
}

.catering-menu {
    background-color: #97c57a;
    text-align: center;
    padding: 1em;
}

.catering-menu button {
    padding: 1em ;
    border: 4px white solid;
    margin: 1em 0;
    background: #97c57a;
    color: #f7f7f7;
    font-family: 'Montserrat-Bold';
}

.catering-menu h2 {
    color: #f4f7f2;
}

.menu-cover-wrapper {
    width: 40%;
    margin: 0 auto;
}

.catering-contact{
    margin: 2em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.catering-contact p {
    text-align: left;
}

.catering-contact span {
    display: flex;
    margin-bottom: 1em;
    text-align: center;
}

.catering-icon {
    width: 2em;
    margin-right: 2em;
    align-self: center;
}

form {
    margin-top: 5em;
    text-align: left;
    padding: 0 10%;
}

form button {
    margin: 0 10%;
    border: 2px solid #979797 ;
}

input {
    height: 2em;
}

input, textarea {
    font-size: 16px;
    width: 100%;
    border: 2px solid #ffd16b;
} 

@media only screen and (min-width: 1050px) {

    h2 {
        font-size: 40px;
    }

    p{
        font-size: 18px;
        line-height: 2em;
    }

    .catering-hero {
        padding: 0 10%;
    }

    .catering-hero img {
        width: 100vw;
        height: 35em;
        object-fit: cover;
    }

    .mousse-cups img{
        object-position: bottom;
    }

    .hero-statement {
        display: flex;
    }

    .hero-statement article {
        padding: 0;
    }

    .ampersand {
        align-self: center;
        font-size: 40px;
        margin: 0 5%;
    }

    .catering-menu {
        display: grid;
        grid-template-areas:
        ". menuCover . downloadButton downloadButton"
        ". menuCover . title title";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .5fr;
        max-width: 80%;
        margin: 15% 10%;
    }

    svg {
        display: initial;
        position: absolute;
        width: 82%;
        height: 60%;
    }

    .catering-menu h2 {
        font-size: 20px;
        grid-area: title;
        align-self: end;
    }

    .catering-menu div{
        grid-area: menuCover;
    }

    .catering-menu a {
        grid-area: downloadButton;
        align-self: end;
    }

    .menu-cover-wrapper {
        width: 130%;
        position: relative;
        top: 80px;
    }

    .catering-contact {
        flex-direction: row;
        justify-content: space-around;
        padding: 0 5%;
    }

    .contact-info-wrapper {
        max-width: 100%;
    }

    .catering-icon {
        max-width: 2em;
        align-self: center;
    }

    input, textarea {
      width: 25em; 
    }
}